/* DARK MODE */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --fg: #e0e0e0;
        --accent: #a88c4a;
        --card-bg: #303030;
        --container-bg: #202020;
        --highlight: #4c4c4c;
        --highlight-plus: #5e5e5e;
        --pop-text: #d867f1;
    }

    body {
        background-color: var(--bg);
        color: var(--fg);
    }

    .container {
        background-color: var(--container-bg);
    }

    h1 {
        color: #fff;
    }

    .nav-header {
        background: linear-gradient(to right, #1e1e1e, #2a2a2a);
    }

    .nav-element {
        color: var(--accent);
    }

    .nav-element:hover {
        background-color: var(--highlight);
        color: #fff;
    }
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
    :root {
        --bg: #e8d8cb;
        --fg: #5C4432;
        --accent: #916d51;
        --card-bg: #fff8f0;
        --container-bg: #f3eadd;
        --highlight: #EADAC1;
        --highlight-plus: #E2C8A5;
        --pop-text: #7b0d93;
    }

    body {
        background-color: var(--bg);
        color: var(--fg);
    }

    .container {
        background-color: var(--container-bg);
    }

    h1 {
        color: var(--fg);
    }

    .nav-header {
        background-color: var(--bg);
        border-bottom: 1px solid var(--accent);
    }

    .nav-element {
        color: var(--fg);
    }

    .nav-element:hover {
        background-color: var(--accent);
        color: #fff;
    }
}